@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.link {
  @include flexbox(center, flex-start);
  font-size: toRem(14px);
  padding: 5px;
  color: white;

  &:before {
    content: '\e81c';
    display: block;
    margin-right: 10px;

    font-family: 'fontello';
    font-size: 12px;
    transition: 0.2s margin-right;
  }

  &:hover:before {
    margin-right: 15px;
  }
}
