@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.mobileModalOverlayLeft {
  @include flexbox(flex-end, flex-start);
}

.mobileModalOverlayRight {
  @include flexbox(flex-end, flex-end);
}

.mobileModal {
  max-width: 135px;
}

.checkboxes {
  width: 100%;
  @include flexbox(center, space-between);
}

.balance {
  padding-left: 5px;
  padding-right: 5px;
  flex-grow: 1;
}

.balanceMargin {
  margin: 0 10px;
}

.buttons {
  width: 100%;
  margin-top: 20px;
  @include flexbox;

  margin-bottom: 20px;

  @include forDesktopSm {
    display: flex;
  }
}

.btnMobile {
  flex: 1 0 auto;
  min-width: auto;

  padding: 12px;

  font-size: 12px;

  &.centerBtn {
    margin-left: 16px;
    margin-right: 16px;

    flex: 0 0 150px;

    @include forPhone {
      flex-basis: 80px;
    }
  }
}

.noBalanceLabel {
  margin-top: 10px;
}

.amount {
  margin-top: 10px;
}