@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.nav {
  width: 220px;
  margin-top: 10px;

  background-color: black;
  border-radius: 10px;
  overflow: hidden;

  @include forPhone {
    width: 100%;
  }
}

.link {
  @include flexbox(center, flex-start);
  padding: 10px 20px;
  background-color: transparent;
  transition: 0.2s background-color;

  i {
    display: block;
    margin-right: 15px;
    font-size: 20px;
    transition: 0.2s color;
  }

  &.active {
    background-color: $blueColor;

    i {
      color: $primaryColor;
    }
  }
}
