@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


.noConfirmTitle {
  margin: 60px 0 25px 0;
}

.noConfirmForm {
  @include flexbox(flex-start, space-between);
}

.noConfirmInput {
  flex-grow: 1;
  margin-right: 35px;
}

.confirmTitle {
  margin-top: 15px;
}

.confirmForm {
  @include flexbox(flex-end, space-between);
  margin-top: 65px;
}

.confirmInput {
  flex-grow: 1;
  margin-right: 35px;
}

.progressBar {
  margin-top: 65px;
}

.progressBarHeader {
  @include flexbox(center, space-between);
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.progressBarUsd {
  flex-basis: 100%;
  margin-left: auto;
}

@include forPhone {
  .noConfirmForm, .confirmForm {
    align-items: flex-end;
    flex-direction: column;
  }

  .confirmForm {
    margin-top: 30px;
  }

  .confirmInput, .noConfirmInput {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .progressBarLabel, .progressBarValue {
    font-size: 14px;
  }

  .progressBarLabel {
    margin-right: 5px;
    font-weight: normal;
  }

  .previewText {
    font-size: 12px !important;
  }

  .noConfirmTitle {
    margin: 30px 0 20px 0;
  }
}
