@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.cellValue {
  font-size: 18px;
  font-weight: 600;
}

.buttonContainer {
  @include flexbox();

  width: 100%;
  flex-wrap: wrap;
  gap: 14px;

  @include forTablet {
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
}

.buttonWrap {
  @include flexbox(center, space-between);

  width: 329px;
  height: 105px;
  padding: 24px 20px 24px 45px;
  background: #191D2B;
  border-radius: 6px;

  @include forPhone {
    background-color: #313850;
  }
}

.singleButtonWrap {
  padding: 24px 45px;
  width: auto;
}

.buttonWrapInfo {
  @include flexbox(center, center);

  flex-direction: column;
  height: 105px;
  padding: 24px;
  background: #191D2B;
  border-radius: 6px;

  @include forPhone {
    background-color: #313850;
  }
}

.buttonLabel {
  margin-bottom: 10px;
  font-size: 14px;
}

.buttonValue {
  font-size: 16px;
  font-weight: 600;
  margin-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95px;
}

.table {
  margin-top: 30px;
}

.primary {
  color: $primaryColor;
}

.tables {
  margin-top: 30px;
}

.button {
  max-width: 155px;
}

.price {
  @include flexbox()
}

.infoBlockValue {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90px;
}

.trx {
  margin-left: 6px;
}

.flexCenter {
  @include flexbox(center, center)
}
