@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.info_card__container {
  @include flexbox(flex-start);

  flex-direction: column;
  row-gap: 21px;
}

.info_card__title {
  @include title;
}

.info_card__description {
  @include text;
}

$width: 232px;

.wrap {
  @include flexbox(flex-start);
  max-width: $width;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: $primaryColor;
  margin-bottom: 10px;
  margin-top: 30px;
}

.shadowWrap {
  position: relative;
}

.shadow {
  top: 20px;
  left: 20px;
  position: absolute;
  width: 200px;
  height: 300px;
  content: '';
  display: block;
  box-shadow: 0 0 100px 10px #B01213;
  z-index: -1;
}

.img {
  width: 232px;
}

.text {
  font-size: 14px;
  line-height: 26px;
}

.cards {
  @include flexbox();
  width: 100%;
  & > div:first-child {
    margin-right: 10px;
  }
}

.secondCardWrap {
  @include flexbox(flex-start);
  max-width: calc(#{$width} * 2 + 10px);
  flex-direction: column;
}
