@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrap {
  @include flexbox();

  flex-direction: column;
}

.containerTitle {
  @include flexbox();
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;

  display: flex;
  align-items: center;

  @include forPhone() {
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}

.selectorToken {
  width: 100px;
  margin-left: 10px;
  margin-right: 5px;
}

.containerButtons {
  margin-top: 40px;
  margin-bottom: 30px;
}

.buttonApprove {
  width: 120px;
  margin-right: 20px;
}

.button {
  width: 200px;
}

.label {
  font-size: 18px;
}

.green {
  color: $successColor;
}

.selector {
  width: 374px;

  @include forPhone() {
    width: 296px;
  }
}

.link {
  color: $whiteColor;
  text-decoration: underline;

  &:hover {
    color: $primaryColor;
  }
}
