@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrap {
  @include flexbox();

  flex-direction: column;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.tab {
  font-size: 20px;
}
