@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.wrap {
  @include flexbox(center, flex-start);
}

.value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  margin-left: 10px;
  font-size: 16px;
  & > i {
    color: #ADADAD;
  }

  @include forPhone {
    margin-left: 5px;
  }
}