@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.main {
  @include container;

  margin-bottom: 60px;

  @include forDesktopSm {
    margin-bottom: 30px;

    padding-left: 0;
    padding-right: 0;
  }
}

.main__nft_system{
  max-width: 1154px;
}

.bg {
  @include cardsSymbolsBg;
}

// .main__bg_nft_system {
//   background-repeat: space;
// }
