@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.wrap {
  @include flexbox;
  flex-direction: column;
  padding: 15px 80px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  border-bottom-left-radius: 10px;

  &.win {
    background-color: $successColor;
  }

  &.lost {
    background-color: $errorColor;
  }
}

.icon {
  font-size: 30px;
  margin-bottom: 5px;
}


@include forPhone {
  .wrap {
    width: 100%;
    border-bottom-right-radius: 10px;
  }
}