@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrap {
  @include flexbox();

  flex-direction: column;

  @include forTablet() {
    margin-top: 10px;
  }
}

.cardContainer {
  @include flexbox(flex-start);

  flex-wrap: wrap;
  margin-top: 30px;
  gap: 35px;

  @include forTablet {
    margin: 0;
    padding-top: 55px;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: initial;
    gap: 50px;
    width: 100%;
  }
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

  @include forTablet {
    margin-top: 60px;
  }
}

.titleWrap {
  @include flexbox();

  position: relative;
  width: 100%;
  flex-direction: column;
}

.subTitle {
  text-align: center;
}

.button {
  font-size: 24px;
  font-weight: bold;
  width: 252px;
  border-radius: 30px;
  margin-top: 20px;
}

.claimButton {
  margin-top: 20px;
  color: $whiteColor;
  text-decoration: underline;

  &:hover {
    color: $primaryColor;
  }
}

.backButton {
  @include flexbox();

  min-width: 56px;
  min-height: 56px;
  width: 56px;
  height: 56px;
  background-color: #12151E;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.backButtonArrow {
  color: $primaryColor;
  font-size: 16px;

  &:before {
    transform: rotate(90deg);
  }
}
