@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.title {
  margin-bottom: 35px;
}

.rowCapitalize {
  text-transform: capitalize;
}

.randomOrgModal {
  max-width: 600px;

  @include forTablet {
    max-width: 90%;
  }
}

.randomOrgData {
  white-space: nowrap;
}

.randomOrgSignature {
  white-space: nowrap;
}

.randomOrgButton {
  @include flexbox(center, flex-start);
  background: transparent;
  padding: 5px;
  text-align: left;
  min-width: 0;

  &:hover {
    background: inherit !important;
    border-color: transparent !important;
  }
}

.claimBtn {
  min-width: 0;
}

.randomOrgModalTitle {
  margin-bottom: 30px;

  a {
    text-decoration: underline;
    color: $primaryColor;
  }
}

.formGroup {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.formGroupLabel {
  margin-bottom: 10px;
}