@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrap {
  @include flexbox();

  flex-direction: column;
  padding: 30px 50px;

  @include forPhone {
    padding: 30px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.checkboxWrap {
  @include flexbox();
  flex-wrap: wrap;
  gap: 20px 30px;
  margin-top: 25px;
}

.divider {
  background-color: $whiteColor;
  height: 1px;
  width: 100%;
  opacity: 0.1;
}

.dropdown {
  margin: 20px 0;
}

.checkbox {

}

.checkmark {
  margin-right: 8px;
}

.button {
  width: 200px;
  margin-top: 50px;
}
