@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.modalContent {
  padding: 0;
  max-width: 600px;
  max-height: 60vh;
}

.wrap {
  padding: 50px;
}

.title {
  margin-bottom: 50px;
}

.list {
  width: 90%;
  margin: 0 auto;
  @include flexbox(flex-start, space-between);
  flex-wrap: wrap;
  & > li {
    list-style-type: none;
  }
}

.combination {
  flex-basis: 100%;
  margin-bottom: 45px;
}

.name {
  margin-bottom: 15px;
}

.cards {
  @include flexbox(center, space-between);
}

@include forDesktopSm {
  .list {
    justify-content: center;
  }
  .combination {
    flex-basis: 400px;
  }
}

@include forPhone {
  .wrap {
    padding: 40px 10px;
  }

  .list {
    width: 100%;
  }

  .combination {
    flex-basis: 300px;
  }


  .card {
    display: block;
    width: 54px;
  }
}
