
.icon-faq:before { content: '\e800'; } /* '' */
.icon-question:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e802'; } /* '' */
.icon-lang:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-checkmark:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-chevron:before { content: '\e809'; } /* '' */
.icon-referral:before { content: '\e80a'; } /* '' */
.icon-article:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-peoples:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-cash:before { content: '\e80f'; } /* '' */
.icon-copy:before { content: '\e810'; } /* '' */
.icon-moneybag:before { content: '\e811'; } /* '' */
.icon-hourglass:before { content: '\e812'; } /* '' */
.icon-cards:before { content: '\e813'; } /* '' */
.icon-medal:before { content: '\e814'; } /* '' */
.icon-sad:before { content: '\e815'; } /* '' */
.icon-logout:before { content: '\e816'; } /* '' */
.icon-reward:before { content: '\e817'; } /* '' */
.icon-github:before { content: '\e818'; } /* '' */
.icon-telegram:before { content: '\e819'; } /* '' */
.icon-triangle:before { content: '\e81a'; } /* '' */
.icon-discord:before { content: '\e81b'; } /* '' */
.icon-back-link:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */
.icon-market:before { content: '\e81e'; } /* '' */
.icon-filter:before { content: '\e81f'; } /* '' */
.icon-transactionlink:before { content: '\e820'; } /* '' */
