@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.wrap {
}

.header {
  @include flexbox(center, flex-start);
  cursor: pointer;
}

.chevron {
  display: block;
  flex-shrink: 0;
  margin-left: 10px;
  color: $successColor;
  transform: rotate(180deg);
}

.content {
  padding-top: 20px;
}
