@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrap {
  @include flexbox();

  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.button {
  margin-top: 30px;
}

.select {
  margin-top: 10px;
  width: 100%;

  :global(.rs__menu) {
    position: initial;
  }
}

.notFunds {
  margin-top: 10px;
  color: $primaryColor;
}
